table,tr,td
{
    margin:0px;
    padding:0px;
    border-spacing:1px;
}
canvas
{
    width:700px;
    height:400px;
    border-width:1px ;
    border-style:solid;
    border-color:#aaaaaa;
}
#rangeQueryCanvas,#kdTreeCanvas
{
    width:348px;
    height:398px;
}
#xTreeCanvas,#yTreeCanvas
{
    width:348px;
    height:177px;
}
.rangeQuery
{
    display:block;
}
.kdTree
{
    display:block;
}